.form-content {
  padding: 15px;
}

.form-content .form-group {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.form-content .form-offer {
  padding: 0 0 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.form-content .terms {
  color: #333;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.form-content .cont-number {
  padding: 0 10px;
}

.form-content .number-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-content .number-group .country-code {
  width: 44%;
  margin-right: 6px;
}

.form-content .country-code select,
.form-content .m-number-cont .form-control,
.form-content .name-cont .form-control,
.form-content .register-submit {
  height: calc(2.3em + .75rem + 0px);
  width: 100%;
  font-size: .875em;
  border-radius: 0;
  font-size: 12px;
}

.form-content select {
  border: 1px solid 1px #949494;
  color: #495057;
}

.form-content .form-control {
  border: 1px solid #949494;
}

.form-content .country-code select {
  padding: 0 10px;
  background: #fff;
}

.form-content .term-condition {
  font-size: .875em;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
}

.form-content .country-code,
.form-content .m-number-cont,
.form-content .name-cont {
  margin-bottom: 15px;
  position: relative;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1em;
  letter-spacing: .2px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal .modal-body {
  background: #f3f3f3;
  border-radius: 4px;
}

.modal .modal-title {
  padding: 0 22px 0 0;
}

.modal .modal-header h4 {
  font-size: 16px;
}

.modal .modal-dialog {
  max-width: 360px;
}

.modal .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  line-height: 40px;
  font-size: 28px;
  border-radius: 0 4px 0 0;
  border: none;
}

.modal .popup-img {
  margin: 0 auto 10px;
  overflow: hidden;
}

.modal .popup-img img {
  height: 100%;
  width: 100%;
}

header {
  position: fixed !important;
  width: 100%;
}

section {
  margin-bottom: 80px;
}

.body-content {
  background: rgba(255, 255, 255, 0.75);
  padding: 61px 0 0 0;
}

.body-content ol, .body-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body-content h2 {
  margin-bottom: 24px;
  padding-top: 20px;
  font-size: 26px;
  font-weight: 600;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: #000;
  border-color: transparent;
}

button.close,
button.close:hover {
  background: #000;
  opacity: 1;
  color: #fff;
}

.btn-primary {
  background: #2e6488;
  border-color: transparent;
  color: #f3f3f3;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 500;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background: #000;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary .on-request-btn {
  padding: 5px 10px;
  font-size: 14px;
}

.main-title h4 {
  margin-bottom: 30px;
  color: #b78c37;
  font-size: 1.2;
}

.main-title span {
  color: #231f20;
  text-transform: uppercase;
  background: #000;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  position: relative;
}

.main-title span:before {
  content: "";
  height: 2px;
  width: 320px;
  position: absolute;
  bottom: -2px;
  background: #000;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}

.top-bar {
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.top-bar .nav-link {
  color: #333;
  font-weight: 700;
  padding: 15px 20px;
}

.top-bar .Logo {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  font-style: italic;
  text-shadow: 1px 0px 2px #767676;
  position: relative;
}

.top-bar .Logo:hover {
  color: #333;
  text-decoration: none;
}

.top-bar .Logo .logoImg {
  width: 170px;
}

.top-bar .header-first-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.86);
}

.top-bar .ph-no {
  background: #2e6488;
  line-height: 32px;
  height: 32px;
  margin-top: 14px;
  padding: 0 10px;
  font-size: 16px;
  color: #228bca;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  min-width: 100px;
}

.top-bar .ph-no a {
  text-decoration: none;
}

.top-bar .ph-no .phone_no {
  color: #fff;
  font-weight: 600;
}

.top-bar .navbar.navbar-expand-md.navbar-light {
  padding: 0 10px;
  background: #fff;
}

.top-bar .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .4rem;
  padding-left: .4rem;
}

.top-bar .navbar-light .navbar-nav .active > .nav-link,
.top-bar .navbar-light .navbar-nav .nav-link.active,
.top-bar .navbar-light .navbar-nav .nav-link.show,
.top-bar .navbar-light .navbar-nav .show > .nav-link {
  color: #228bca;
}

.top-bar .navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
}

.top-bar .navbar-light .navbar-nav .nav-link:focus, .top-bar .navbar-light .navbar-nav .nav-link:hover {
  color: #009ce3;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.top-bar .navbar-light .navbar-toggler {
  border: none;
  padding: 0;
}

.top-bar .navbar-light .navbar-toggler-icon {
  line-height: 1.25em;
  color: #231f20;
}

.top-bar .nav-item {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  margin-left: 10px;
}

.top-bar .phone_url:hover {
  text-decoration: none;
}

.top-bar .icon-menu {
  color: #333;
  font-size: 1.5em;
}

.top-bar .mb-number {
  margin-top: 7px;
  font-size: .875em;
}

.accordion-item h2 {
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 26px;
  font-weight: 600;
}

.accordion-item .accordion-button {
  background: none;
}

.accordion-item .accordion-button:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.accordion-item .accordion-button:not(.collapsed) {
  color: #2e6488;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 4px;
}

.banner-box {
  position: relative;
  margin-bottom: 80px;
}

.banner-box .banner-img {
  position: relative;
}

.banner-box .banner-overlay {
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  display: inline-block;
  bottom: 1%;
  display: none;
}

.banner-box .dtp-view-img {
  display: none;
}

.banner-form-part {
  min-height: 100px;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff;
}

.banner-form-part button {
  width: 100%;
}

.banner-form-part .form-heading h1 {
  font-size: 16px;
  text-align: center;
  color: #2e6488;
  padding: 10px;
  line-height: 32px;
  background: #fff;
  margin-bottom: 0px;
}

.banner-form-part .form-heading h1 span {
  display: block;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.banner-form-part .form-heading p {
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 10px;
  line-height: 28px;
  background: #2e6488;
  margin-bottom: 0px;
  border-radius: 4px 4px 0 0;
}

.banner-form-part .form-heading h4 {
  color: #000;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  padding: 4px;
}

.banner-form-part .form-container {
  max-width: 350px;
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
  background: #f3f3f3 h4;
  background-text-align: center;
  background-background: #000;
  background-padding: 15px 10px;
  background-margin-bottom: 0;
  background-font-size: 24px;
  background-border-radius: 5px 5px 0 0;
  background-border-bottom: 3px solid #b78c37;
}

.overview {
  margin-top: 30px img;
  margin-top-margin-bottom: 10px;
  margin-top-height: 300px;
  margin-top-width: 530px;
}

.hl-box {
  display: inline-block;
  width: 100%;
}

.hl-box ul li {
  /* width: 100%; */
  vertical-align: top;
  padding: 10px;
  font-size: 14px;
  margin: 10px 10px 0 0;
  background: #f3f3f3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  font-weight: 500;
}

.hl-box ul li b {
  display: block;
  margin: 0 0 10px;
  color: #231f20;
}

.cta-section {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.35))), url(../img/deskBanner.webp) fixed center center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../img/deskBanner.webp) fixed center center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  padding: 80px 0;
}

.cta-section .cta-img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background: #4eacf7;
  border-radius: 50%;
}

.cta-section .cta-box {
  position: relative;
  z-index: 1;
  text-align: center;
}

.cta-section .cta-content {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 20px 0;
  position: relative;
  z-index: 1;
  width: 100%;
}

.cta-section .cta-content h3 {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
}

.cta-section .cta-content button {
  border-color: transparent;
}

.gallery img {
  margin-bottom: 24px;
  border-radius: 4px;
}

.amenities .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  background: #2e6488;
  border-radius: 4px;
}

.amenities .nav-tabs .nav-item .nav-link {
  margin: 0 3px;
  font-size: 14px;
  padding: 6px;
  border-radius: 0px;
  color: #2e6488;
  background-color: #fff;
}

.amenities .nav-tabs .nav-item .nav-link.active {
  color: #fff;
  background-color: #2e6488;
  border-color: transparent;
}

.amenities .amenities-content {
  padding: 20px 0;
}

.amenities .ameniteis-list {
  text-align: center;
  display: contents;
}

.amenities .ameniteis-list img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 30%;
}

.amenities .ameniteis-list span {
  padding: 8px 5px;
  display: block;
}

.amenities .ameniteis-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #b5bcc3;
  padding: 20px 0;
}

.amenities .ameniteis-list ul li {
  position: relative;
  width: 44%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: #f3f3f3;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 0;
  margin: 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 5px;
}

.amenities .ameniteis-list ul li small {
  position: absolute;
  left: -2px;
  top: -6px;
  width: 25px;
  border-radius: 50%;
  background: #2e6488;
  color: #fff;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 500;
}

.amenities .ameniteis-list ul li:hover {
  border-color: #228bca;
}

.cta-video-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.74)), to(rgba(0, 0, 0, 0.349))), url(../img/deskBanner.webp) fixed center center;
  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.349)), url(../img/deskBanner.webp) fixed center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}

.price_plan .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  background: #2e6488;
  border-radius: 4px;
}

.price_plan .nav-tabs .nav-item .nav-link {
  margin: 0 3px;
  font-size: 14px;
  padding: 6px;
  border-radius: 0px;
  color: #2e6488;
  background-color: #fff;
}

.price_plan .nav-tabs .nav-item .nav-link.active {
  color: #fff;
  background-color: #2e6488;
  border-color: transparent;
}

.price_plan .ameniteis-table {
  padding: 20px 0;
}

.price_plan .ameniteis-table table {
  width: 100%;
}

.price_plan .ameniteis-table table, .price_plan .ameniteis-table th, .price_plan .ameniteis-table td {
  border: 1px solid #b5bcc3;
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
}

.video-responsive.Wuidth100 {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  background: #000;
  border-radius: 10px;
}

.video-responsive.Wuidth100 .triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 35px solid #fff;
  border-bottom: 25px solid transparent;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.floorplan-section .f-p-rhs .heading-1 {
  color: #fff;
}

.floorplan-section .flor-p-cont {
  text-align: center;
}

.floorplan-section .flor-p-cont li:last-child {
  margin-right: 0;
}

.floorplan-section h2 .icon-home {
  color: #fff;
  display: inline-block;
  vertical-align: baseline;
  font-size: 42px;
  border-bottom: 2px solid;
}

.floorplan-section .floor-img-cont {
  margin-right: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.floorplan-section .image-container {
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #231f20;
  -webkit-box-shadow: 0 7px 16px 0 rgba(50, 50, 50, 0.199);
          box-shadow: 0 7px 16px 0 rgba(50, 50, 50, 0.199);
}

.floorplan-section .image-container .overlay-div {
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: -100%;
  background: rgba(50, 160, 194, 0.384);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.floorplan-section .image-container .overlay-div button {
  position: absolute;
  left: 50%;
  border-radius: 5px;
  width: 60%;
  color: #fff;
  background: #2e6488;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.floorplan-section .image-container .overlay-div button:hover {
  background: #000;
  color: #fff;
}

.floorplan-section .image-container:hover .overlay-div {
  bottom: 0;
}

.floorplan-section .img-box {
  width: 100%;
  margin-bottom: 15px;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.floorplan-section .img-box img {
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  display: block;
}

.location .location-content {
  background: #2e6488;
  width: 100%;
  padding: 2px;
  margin-top: 20px;
}

.location .loc-map-text {
  margin-top: 10px;
  font-size: .875em;
  line-height: 30px;
}

.location .loc-btn button {
  margin-bottom: 20px;
}

.location .loc-map-img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  margin-top: 10px;
  border-radius: 4px;
}

.location .loc-map-img iframe {
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 350px;
}

.location .nearby h5 {
  margin-top: 25px;
  color: #b78c37;
}

.footer-section {
  background: #f3f3f3;
  padding: 20px 0;
  margin: 30px 0 0 0;
}

.footer-section .term_sec a {
  color: #333;
  text-decoration: none;
  font-size: .6875em;
}

.footer-section .copyright_sec {
  font-size: .6875em;
}

.footer-section .footer_ico_right a {
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  color: #228bca;
}

.footer-section .footer_ico_right:hover {
  color: #231f20;
}

.footer-section .fixed-social-icon {
  font-size: 2em;
  position: fixed;
  bottom: 5%;
  right: 10px;
  z-index: 1;
}

.footer-section .fixed-social-icon img {
  width: 40px;
  display: block;
  padding: 5px;
}

.footer-section .fixed-social-icon ul {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

.footer-section .fixed-social-icon ul li {
  background: #2e6488;
  margin-bottom: 5px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  border: 2px solid #fff;
  border-radius: 10px;
}

.footer-section .fixed-social-icon ul li:first-child {
  background-color: #2a72c5;
}

.footer-section .fixed-social-icon ul li:last-child {
  background: #40ca3c;
}

.footer-section .fixed-social-icon ul li:hover {
  -webkit-box-shadow: 1px 2px 6px #228bca;
          box-shadow: 1px 2px 6px #228bca;
}

.footer-section .term_sec {
  margin-bottom: 10px;
}

.footer-section .footer-text-content {
  text-align: center;
  border-top: 1px solid #6c757d;
  padding: 10px;
  font-size: .6875em;
}

@media (min-width: 641px) {
  .floorplan-section .flor-p-cont {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .floorplan-section .floor-img-cont {
    width: 31%;
  }
  h2 {
    font-size: 30px;
  }
  .overview img {
    height: 430px;
    border-radius: 5px;
  }
}

@media (min-width: 993px) {
  .top-bar {
    height: auto;
  }
  .top-bar .ph-no {
    display: inline-block;
  }
  .amenities .ameniteis-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .amenities .ameniteis-list ul li {
    width: 180px;
    padding: 15px;
  }
  .banner-box .dtp-view-img {
    display: block;
  }
  .banner-box .mbl-view-img {
    display: none;
  }
  .banner-form-part {
    position: absolute;
    top: 34px;
    right: 64px;
  }
  .banner-form-part .form-container {
    margin: 0 auto;
    background: 0 0;
    width: 340px;
  }
  .form-heading h1 {
    text-align: center;
  }
  .offer-banner {
    position: absolute;
    top: 10%;
    left: 50px;
    width: 320px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 0;
  }
  .offer-banner h3 {
    font-size: 1.5rem;
    color: #fff;
  }
  .hl-box {
    vertical-align: middle;
    padding: 20px;
    text-align: center;
  }
  .hl-box ul li {
    padding: 20px;
  }
  .img-box {
    width: 33%;
    padding: 10px;
  }
  .hl-img {
    width: 50%;
    padding: 10px;
    display: inline-block;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  }
  .hl-box ul li {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
  }
  .cta-box {
    text-align: left;
  }
  .floorplan-section .flor-p-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .floorplan-section .floor-img-cont {
    width: 32%;
  }
  .location-content {
    top: 30%;
  }
  .cta-section .cta-content {
    width: calc(100% - 110px);
    padding-top: 0;
  }
  .cta-section .cta-content h3 {
    font-size: 22px;
    width: calc(100% - 170px);
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */